documentation/*.*
!documentation/*.tex
!documentation/*.pdf
Empirical/Data/*.*
Empirical/Results/*.*
!Empirical/Data/*.log
Quantitative/Results/*.*
Quantitative/*.asv
bin/*.*
obj/*.*
results/*.*
*.out
*.mod
src/*.mod
src/*.o