documentation/*.*
documentation/latex_templates/*.*
!documentation/*.tex
!documentation/*.pdf
!documentation/*.bib
!documentation/Figures/*.*
Empirical/Data/*.*
Empirical/Data/AEJ_Replication/*.*
Empirical/Results/*.*
Empirical/Data/Raw_Data/*.*
!Empirical/Results/*.log
!Empirical/Results/*_log.pdf
!Empirical/Results/R_create_log.txt
Quantitative/Results/*.*
!Quantitative/Results/*.log
!Quantitative/Results/*_log.pdf
!Quantitative/Results/*.mat
Quantitative/*.asv
bin/*.*
obj/*.*
results/*.*
*.out
*.mod
src/*.mod
src/*.o