documentation/*.*
!documentation/*.tex
!documentation/*.pdf
Empirical/Data/*.*
Empirical/Results/*.*
Empirical/Data/Raw_Data/*.*
!Empirical/Results/*.log
!Empirical/Results/R_create_log.txt
Quantitative/Results/*.*
!Quantitative/Results/*.log
Quantitative/*.asv
bin/*.*
obj/*.*
results/*.*
*.out
*.mod
src/*.mod
src/*.o